/* margin: top right bottom left*/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #252525;
}

.center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

.question-buttons {
  width: 100%;
  max-width: 590px;
  padding: 10px 10px 10px 30px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.question-buttons div {
  margin: 5px;
  cursor: pointer;
}
.button-selected {
  font-weight: bold;
}

.button-deselected {
  font-weight: lighter;
}

.question {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
}

.question-text {
  font-size: 18px;
  margin: 10px 0;
}

.question-date {
  color: #969696;
  font-size: 15px;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.question-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.question-option {
  display: inline;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.question-checkbox {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.question-label {
  margin-left: 20px;
  font-size: 20px;
}

.option-stats {
  height: 20px;
  margin-top: 15px;
  font-size: 12px;
  color: #969696;
}

.new-question {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 40px;
}

.question-length {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
  color: #C3392A;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

