body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

.center {
  text-align: center;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.question {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}
